* {

	box-sizing: border-box;
}

body {

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #7c8d9c;
	background-color: #4BE9F7;
}

.card-wrapper {

	display: flex;
	width: 1005px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

.card-photo-block {

	width: 465px;
	height: 610px;
	background-color: #ffd617;
	position: relative;
	margin-top: 45px;

}

.card-product-logo {

	position: absolute;
	left: 25px;
	top: 25px;
}

.card-product-img {

	position: absolute;
	top: 83px;
	left: -134px;
}



.card-details {

	width: 540px;
	height: 700px;
	background-color: #ffffff;
	padding-top: 75px;
	padding-left: 80px;
	padding-bottom: 75px;
	padding-right: 21px;
	box-shadow: -31px 3px 66px -35px rgba(0,0,0,0.75);
	z-index: 1;
	position: relative;
}

.title-1 {

	color: #000000;
	font-size: 34px;
	text-transform: uppercase;
	margin-bottom: 19px;
}

.subtitle {

	color: #3a4d5c;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 50px;
}

.features-title {

	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.33px;
	margin-bottom: 20px;
}

.list {

	font-size: 13px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 45px;
	color: #7c8d9c;
	list-style-type: none;
	padding-left: 12px;
}

.list li {

	position: relative;
}

.list li::before {
	
	content: "";
	width: 5px;
	height: 5px;
	background-color: #00c217;
	display: block;
	position: absolute;
	left: -12px;
	top: 12px;
}

.details {

	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.28px;
	margin-bottom: 30px;
}

.details-item {

	margin-right: 20px;
}

.quantity {

	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.counter {
	
	display: flex;
	margin-left: 1px;
	margin-bottom: 20px;
}

.counter-button {

	width: 40px;
	height: 35px;
	border: 1px solid #7c8d9c;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -1px;
}

.price-wrapper {

	margin-bottom: 20px;
}

.price {

	color: #3a4d5c;
	font-size: 37px;
}

.old-price {

	font-size: 13px;
}

.button {
	
	width: 200px;
	height: 45px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #1251d1;
	border:none;
	margin-right: 20px;
}

.button-wish-list {
	
	width: 200px;
	height: 45px;
	background-color: #ffffff;
	color: #7c8d9c;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}