body {

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #7c8d9c;
}

.card-details {

	width: 540px;
	height: 700px;
	background-color: #ffffff;
}

.title-1 {

	color: #000000;
	font-size: 34px;
	text-transform: uppercase;
	margin-top: 77px;
	margin-bottom: 19px;
}

.subtitle {

	color: #3a4d5c;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 50px;
}

.features-title {

	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.33px;
	margin-bottom: 20px;
}

.list {

	font-size: 13px;
	line-height: 28px;
	margin-bottom: 45px;
}

.details {

	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.28px;
	margin-bottom: 30px;
}

.details-item {

	margin-right: 20px;
}

.quantity {

	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 75px;
}
.price-wrapper {

	margin-bottom: 30px;
}

.price {

	color: #3a4d5c;
	font-size: 37px;
}

.old-price {

	font-size: 13px;
}

.button {
	
	width: 200px;
	height: 45px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #1251d1;
	border:none;
}

.button-wish-list {
	
	width: 200px;
	height: 45px;
	background-color: #ffffff;
	color: #7c8d9c;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}